# deps
**/node_modules/

# build artifacts
apps/demo/public/styles.css
apps/demo/public/runtime.js
apps/demo/public/plugins.js
apps/starter/public/runtime.js

# database
apps/demo/sqlite.db

apps/demo/.env

apps/demo/drizzle/

apps/demo/images/

**/dist/
